/* 
Name: Posttemplate
Theme URL: posttemplates.com
Description: 
Author: Hendrik Minnie
Author URI: http://twitter.com/therealminnie
Version: 1
*/


.pt_centered{display:inline;zoom: 1;}


 .pt_all{
 	text-align: center;
 } 